*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    /* background-color: rgba(255,0,0,0.1); */
}
body{
    background: linear-gradient(#009688 15%, #d7dbd6 15%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
}
.container{
    width: 80%;
    height: 95%;
    display: flex;
    max-width: 1600px;
}
.right, .left{
    height: 100%;
}
.left{
    width: 33%;

}
.right{
    flex-grow: 1;
    border-left: 1px solid #d6d6d6;
}
.fas, .far{
    font-size: 22px;
}
.subtitle{
    font-size: 13px;
    color: #6b7376;
}
input{
    border: 0px;
    border-radius: 5px;
}
.smallCircle{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
}
.mediumCircle{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    overflow: hidden;
}
/* HEADER */
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #eaeaea;
    height: 70px;
}
.options .fas{
    color: #b1b1b1;
    margin: 0 10px;
}
.alignSons>*{
    display: flex;
    align-items: center;
}
.avatarImg{
    width: 100%;
}

/* NAV */
nav{
    display: flex;
    flex-direction: column;
    height: calc(100% - 70px);
    background-color: white;
}
.notyfyBanner{
    background-color: #8edafc;
    padding: 15px;
    display: flex;
}
.contactList{
    flex-grow: 1;
}
.searchContainer{
    width: 100%;
    padding: 10px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
}
.search.fas{
    height: 100%;
    color: #b6b9bb;
    font-size: 14px;
    padding: 5px 15px;
    border: 1px solid #f5f5f5;
    background-color: white;
    margin-right: 0px;
}
input.search{
    height: 100%;
    border-radius: 0;
    border: 1px solid #f5f5f5;
    border-left: 0px;
    flex-grow: 1;
}
.search{
    padding:5px;
    line-height: 40px;
}
.bell{
    background-color: white;
    text-align: center;
}
.bell .fas{
    color: #8edafc;
    line-height: 50px;
    width: 100%;
    vertical-align: middle;
}
.userInList{
    display: flex;
    padding: 10px;
}
.userInList h4{
    margin-left: 20px;
}

/* MAIN */
main{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.messageContainer{
    background-image: url("../media/mine.jpg");
    flex-grow: 1;
}
.messageInputForm{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    background-color: #f3eeea;
    height: 70px;
}
.textContainer{
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10px;
    line-height: 20px;
}
.notyfyBanner .subtitle{
    text-decoration: underline;
}
.messageInputForm input{
    flex-grow: 0.9;
    padding: 0 20px;
}
.messageInputForm .fas, .messageInputForm .far{
    color: #6b7376;
}
.userInList{
    border-bottom: 1px solid #f5f5f5;
}
.selected{
    background-color: #e9ebeb;
}
.messageContainer{
    padding: 50px 90px;
    display: flex;
    flex-direction: column;
}
.sent{
    align-self: flex-start;
    background-color: white;
}
.received{
    align-self: flex-end;
    background-color: #d5f9ba;
}
.messageContent{
    justify-self: center;
    align-self: flex-start;
    padding: 15px 15px 10px 15px;
}
.messageDate{
    align-self: flex-end;
    justify-self: flex-end;
    color: #b6b9bb;
    font-size: 10px;
}
.message{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 5px;
    max-width: calc(50% - 100px);/* i leave some space between right and left col*/
    margin-bottom: 5px;
    min-width: 300px;
}