<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- css -->
        <link rel="stylesheet" href="css/style.css">

        <!-- google font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap" rel="stylesheet">


        <!-- fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <title>Document</title>
    </head>
    <body>
        <div id="root" class="container">


            <!-- LEFT -->
            <div class="left">

                <!-- HEADER -->
                <header class="header alignSons">
                    <div class="avatar">
                        <div class="smallCircle"><img class="avatarImg" src="media/avatar_io.jpg" alt="myImage"></div>
                        <div class="textContainer">
                            <h4>Nome utente</h4>
                        </div>
                    </div>
                    <div class="options"><i class="fas fa-circle-notch"></i><i class="fas fa-comment-alt"></i><i class="fas fa-ellipsis-v"></i></div>
                </header>

                <!-- NAV -->
                <nav>
                    <div class="notyfyBanner alignSons">
                        <div class="smallCircle bell"><i class="fas fa-bell-slash"></i></div>
                        <div class="textContainer">
                            <h4>Ricevi notifiche di nuovi messaggi</h4>
                            <p class="subtitle">Attiva notifiche desktop</p>
                        </div>
                    </div>
                    <div class="searchContainer">
                        <i class="search fas fa-search"></i>
                        <input class="search" type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>

                    <!-- CONTACTLIST -->
                    <ul class="contactList">
                        <li @click="selectUser(index)" v-for="(contact, index) in contacts" :key="index" class="userInList">
                            <div class="mediumCircle">
                                <img class="avatarImg" :src="'media/avatar'+contact.avatar+'.jpg'" alt="myImage">
                            </div>
                            <h4>{{contact.name}}</h4>
                        </li>
                    </ul>
                </nav>
            </div>

            
            <!-- RIGHT -->
            <div class="right">
                <main>

                    <!-- MESSAGEHEADER -->
                    <div class="contactInfo header alignSons">
                        <div class="avatar">
                            <div class="smallCircle"><img class="avatarImg" :src="'media/avatar'+userResponding.avatar+'.jpg'" alt="myImage1"></div>
                            <div class="textContainer">
                                <h4>{{userResponding.name}}</h4>
                                <p class="subtitle">Ultimo accesso alle 19.46</p>
                            </div>
                        </div>
                        <div class="options"><i class="fas fa-search"></i><i class="fas fa-paperclip"></i><i class="fas fa-ellipsis-v"></i></div>
                    </div>

                    <!-- MESSAGECONTAINER -->
                    <div class="messageContainer">
                        <div v-for="(message, index) in screenMessages" :key="index" :class="'message '+message.status">
                            <p class="messageContent">{{message.message}}</p>
                            <p class="messageDate">{{message.date}}</p>
                        </div>
                    </div>

                    <!-- MESSAGEINPUT -->
                    <div class="messageInputForm alignSons">
                        <span><i class="far fa-smile"></i></span>
                        <input id="messageInput" @keyup.enter="sendMessage()" type="text" placeholder="Scrivi un messaggio">
                        <span><i class="fas fa-microphone"></i></span>
                    </div>
                </main>
            </div>   
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <!-- <script src="scripts/contacts.js"></script> -->
        <script src="scripts/script.js"></script>
    </body>
</html>